@charset "ISO-8859-1";
.sidebar {
    background-color: aqua;
    width: 25%;
    height: 700px;
    
}

.main {
    background-color: blanchedalmond;
    width: 75%;
    height: 700px;
}

.container {
    display: flex;
    margin: 25px;
    padding: 15px;
}
.tr{
	display: flex;
    margin: 25px;
    padding: 15px;
	
	
}